{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-bottom justify-content-start flex-nowrap"
     style="background-color: black">
    <div class="container-fluid p0-50">
        <p class="navbar-text pull-left">
            <a href="https://github.com/chfivet/RTU" target="_blank" id="lnk_rtu_code">{% trans 'Source code' %}</a>
        </p>

        <p class="navbar-text pull-right">
            <span class="glyphicon glyphicon-copyright-mark"></span> {% now "Y" %} <a
                href=https://www.facebook.com/groups/325513713104216" target="_blank" id="lnk_ucl">Random Troops
            United</a>
        </p>
    </div>
</nav>
